@keyframes blockchainShow {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes pageInit {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Show {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes spin {
  0% {
    transform:rotate(0deg) scale(1);
  }

  50% {
    transform:rotate(180deg) scale(0.7);
  }

  100% {
    transform:rotate(360deg) scale(1);
  }
}

@keyframes rotateBg {
  0% {
    transform:rotate(0deg);

  }

  100% {
    transform:rotate(360deg);
  }
}
