@import "../helpers/index";

.blockchain-table {

  &__name {
    font-size: 20px;
    padding-bottom: 25px;
    text-transform: capitalize;
  }

  &__inner {
    height: auto;
    position: relative;
    overflow: hidden;
    padding-right: 5px;
    max-height: 500px;
    overflow-y: auto;
    @include custom-scroll;

    @include to_width($screen-md-down) {
      padding-right: 0;
      max-height: initial;
      overflow-y: initial;
    }
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 2px solid $bg-main;
    }
  }
}