@import "../helpers/index";

.pool-data {
  $blok-name: &;

  &__inner {

  }

  &__item {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 22px 15px;
    border-bottom: 1px solid $bg-main;
    background-color: #1a2429;
    font-size: 14px;
    color: #8697a1;

    @include to_width($screen-sm-down) {
      display: block;
    }

    a {
      color: #fff;
      transition: .3s;

      &:hover {
        color: #8697a1;
      }
    }
  }

  &__name {
    @include noWrap;
    width: 100%;
    padding-right: 25px;
    max-width: 200px;
    font-size: 14px;
    text-transform: uppercase;

    @include to_width($screen-md-down) {
      padding-right: 0;
      margin-bottom: 10px;
    }
  }

  &__value {
    @include noWrap;
    flex: 1;
  }
}