@import "../helpers/index";

.table-row {
  $block-name: &;
  display: block;

  &:first-child {
    .table-row__cell {
      font-size: 14px;
      text-transform: uppercase;
      color: #8697a1;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid #323f46;

    @include to_width($screen-md-down) {
      border-bottom: none;
    }
  }

  &__inner {
    transition: .3s;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    color: #8697a1;

    @include to_width($screen-md-down) {
      overflow: initial;
    }
  }

  &__cell {
    width: 100%;
    max-width: 190px;
    padding: 18px 25px 18px 0;

    @include to_width($screen-md-down) {

      @include noWrap;
      width: 145px !important;
      padding-right: 15px !important;
      flex: none !important;
      border-bottom: 1px solid #323f46;
      font-size: 12px;

      &:last-child {
        flex: 1 !important;
        min-width: 145px;
        max-width: initial !important;
      }
    }

    a {
      color: #fff;
      display: block;
      @include noWrap;

      @include to_width($screen-md-down) {
      }

      &:hover {
        color: #8697a1;
      }
    }

    &:last-child {
      padding-right: 20px;
      text-align: right;
    }

    &--id {
      flex: 1;
      max-width: initial;
      @include noWrap;
    }

  }

  &--search-page {
    #{$block-name} {

      &__cell {
        width: 25%;
        @include noWrap;
        padding-right: 20px;

        &:nth-last-child(1),
        &:nth-last-child(2) {
          padding-right: 0;
          flex: 1;
        }

        &:last-child {
          padding-right: 20px;
          text-align: right;
        }

      }
    }
  }

  &--requests-page {
    #{$block-name} {

      &__cell {
        flex: 1;
        @include noWrap;
        padding-right: 60px;

        &:nth-last-child(1),
        &:nth-last-child(2) {
          padding-right: 0;
          flex: none;
          max-width: 160px;
        }

        &:last-child {
          padding-right: 20px;
          text-align: right;
        }

      }
    }
  }

  &--requests {

    #{$block-name} {

      &__cell {
        flex: 1;
        @include noWrap;
        padding-right: 60px;

        &:last-child {
          padding-right: 0;
          flex: none;
          max-width: 160px;
        }

      }
    }
  }

}