@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-Italic.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-MediumItalic.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-UltraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-HeavyItalic.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/static/fonts/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueCyr-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
// Helvetica Condensed
@font-face {
  font-family: 'Helvetica Condensed';
  src: url('/static/fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueBlackCondensed.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Condensed';
  src: url('/static/fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
  url('/static/fonts/HelveticaNeueBoldCondensed.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
